
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-container {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

}

.logo-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: bolder;
    text-decoration: none;
}

#logo {
    font-size: x-large;
}

.nav-link {
    font-size: 13px;
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;

}
/* media query for navbar without logo after 1000px */
@media(max-width:1000px){
    .nav-link{
        display: none;
    }
    #nav-link-1k{
        display: inline;
    }
}
.search,
.nav-link:hover {
    opacity: .5;
}

.search i {
    font-size: 16px;
    color: #181818;

}
#nav-link-1k .fa-bars{
    font-size: 16px;
}
.searchs{
    display: none;
}

.first-img {
    --overlay-opacity: 0.5;
    background-image: url(1-630.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .90;
    position: relative;
}

.first-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--overlay-opacity));
}

.head {
    font-size: 40px;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 2rem;

}

.para-for-first {
    font-size: 22px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 20px;
    margin-left: 2rem;


}

.about-first-img {
    border-left: 8px solid rgb(0, 153, 255);
    position: relative;
    width: 700px;
    height: 200px;
    z-index: 1;
    /* Additional styles for your content */
}

.btn-sub {
    padding: .80rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    margin-left: 2rem;

}

.btn-sub:hover {
    background-color: rgb(0, 153, 255);
    transition: 1s;
    cursor: pointer;
    border: none;

}


/* for menu bar  */
#bar {
    position: relative;
}

.sidebar {
    position: absolute;
    right: 2%;
    top: 4rem;
    height: 50vh;
    padding: 30px;
    background-color: white;
    z-index: 999;
    border-radius: 30px;
    display: none;

}



ul li {
    list-style: none;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #423f3f;
}
ul li:hover{
    opacity: 0.5;
}

.explore {
    margin-bottom: 1rem;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}

.hideBar .fa-times {
    font-size: x-large;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* japan and new york post div  */
.post-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;

}

.post-1 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(japan-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 609px;
}

.post-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}


.post-2 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(image_4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 609px;

}

.post-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}


.about-post-1 {
    margin-left: 2rem;
    height: 150px;
    width: 100%;
    margin-bottom: 150px;
    z-index: 990;


}

.about-post-2 {
    margin-left: 2rem;
    height: 150px;
    width: 100%;
    margin-bottom: 150px;
    z-index: 990;


}

#post-btn {
    padding: .80rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.887);
    color: rgb(245, 241, 241);
    font-weight: 500;
    margin-top: 100px;
}

#post-btn:hover {
    background-color: rgb(0, 153, 255);
    transition: 1s;
    cursor: pointer;
    border: none;
}

.about {
    padding: 5px 10px;
    font-size: 14px;
    justify-content: center;
    background-color: rgba(13, 234, 234, 0.832);
    margin-bottom: 2rem;
    border: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.887);
    font-family: Arial, Helvetica, sans-serif;
}

.about:hover {
    background-color: transparent;
    border: 2px solid whitesmoke;

}

.post-title {
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.post-title:hover {
    text-decoration: underline rgb(18, 224, 224);
}

.post-author {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    color: white;
}


.post-3 {
    position: relative;
    background-image: url(image_5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: self-start;
}

.post-3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}

.about-post-3 {
    margin-top: 3rem;
    margin-left: 4rem;
    width: 700px;
    z-index: 999;

}

.about-3 {
    padding: 5px 20px;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 1rem;
    background-color: rgba(0, 233, 233, 0.827);
    border: none;
}

.about-3:hover {
    background-color: transparent;
    border: 2px solid whitesmoke;
}

.post-title-3 {
    font-size: xx-large;
    color: white;

}

.post-title-3:hover {
    text-decoration: underline rgb(18, 224, 224);
}

.post-author-3 {
    color: white;
    margin-top: 1.5rem;
}

#post-btn-3 {
    padding: .80rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.887);
    color: rgb(245, 241, 241);
    font-weight: 500;
    margin-top: 260px;
}

#post-btn-3:hover {
    background-color: rgb(0, 153, 255);
    transition: 1s;
    cursor: pointer;
    border: none;
}


/* now it's for post 4 */
.post-4 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(javier-martinez-xHlsVDnMRcM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 609px;
}

.post-4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}

.post-5 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(image_7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 609px;

}

.post-5::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}

.post-6 {
    position: relative;
    background-image: url(jeremy-bishop-_CFv3bntQlQ-unsplash-1-.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: self-start;
}

.post-6::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.33);
}

.about-6:hover {
    background-color: transparent;
    border: 2px solid whitesmoke;
}

.post-title-6:hover {
    text-decoration: underline rgb(18, 224, 224);
}

/* hover for all strong tag in html for author name */
strong:hover {
    text-decoration: underline rgb(18, 224, 224);

}


/* these css for next page slider */
.page-change-btn {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin-top: 2rem;
    position: relative;
}

#s {
    font-size: 50px;
    padding: 10px;
    border: 1.5px solid #181818;
    align-self: center;
    text-align: center;
    margin: 0px;
}

.next #s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0%;

}

.prev #s {
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prev #s:hover {
    background-color: rgb(18, 224, 224);
    cursor: pointer;
    color: white;
    border: none;
}

.next #s:hover {
    background-color: rgb(18, 224, 224);
    cursor: pointer;
    color: white;
    border: none;

}

.title-page {
    color: #afafb2;
    font-size: 16px;
}

/* for footer insider div */
.footer-inside {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* gap: 2px; */

}

.four-box {
    height: 400px;
    width: 555px;
    border: .03px solid #a3a0a0;

}

/* FOR CONTRIBUTOR DIV  */
#con-img {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.title {
    margin-top: 2rem;
    font-weight: 800;
}

.con-img {
    border-radius: 50%;
    position: absolute;
}

/* wanted to flex img and post div */
.im-con1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.hilary-about {
    margin-left: -60px;
    position: absolute;
    left: 9rem;
    top: 1rem;
}
.hilary-con{
    font-weight: 600;
}
.hilary-con:hover{
    text-decoration: underline rgb(18, 224, 224);

    
}
.hilary-con-post{
    font-style: light;
    font-size: 13px;
    margin-top: 6px;
    color: #afafb2;
}

/* experiment */
.img-post-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
}

#populer {
    margin-top: 2rem;
    margin-left: 3rem;
    font-weight: 800;
}
.about-family{
    margin-left: .80rem;
}

.family-title{
    font-size: medium;
    font-weight: 600;
    color: #181818;
}
.family-title:hover{
    text-decoration: underline rgb(18, 224, 224);
}
.light-text{
    font-style: light;
    font-size: 14px;
    color: #a3a0a0;
}
#img-post-title{
    margin-left: -5rem;
}

/* start for explore div  */
.explore-1st{
    height: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.explore-2{
    height: 180px;
    display: block;
    justify-content: center;
    align-items: center;

}
.explore-title{
    margin-left: -21rem;
    margin-top: 1rem;
    font-weight: 800;
}
.tags{
    margin-left: 2.8rem;
    justify-content: center;
    align-items: center;
}
.in-item{
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}
.in-item:hover{
    background-color: rgb(19, 225, 229);
    border: 1px solid rgb(19, 225, 229);;
    color: white;
    cursor: pointer;
}

.curious{
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2.80rem;
}
.about-curious-detail{
    margin-left: 2.80rem;
    width: 80%;

}
.font-style-about{
    font-size: medium;
    font-style: light;
    margin-bottom: 10px;
    color: #afafb2;
    font-weight: lighter;
}

/* footer is started here  */
.footer-stage{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}


.copy{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: lighter;
    color: #afafb2;
}
.footer-links{
    margin-left: 30px;
    text-decoration: none;
    color: #565555;
    font-weight: lighter;
}
#foot-link-1{
    margin-left: 0;
}
.footer-links:hover{
    opacity: .5;
}

.icons-link{
    font-size: x-large;
    margin-right: 20px;
    text-decoration: none;
}