@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin-left: 2rem;
    margin-right: 2rem;
}
@media(max-width:900px){
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.nav-container {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

}

.logo-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: bolder;
    text-decoration: none;
}

#logo {
    font-size: x-large;
}

.nav-link {
    font-size: 13px;
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;

}

/* media query for navbar without logo after 1000px */
@media(max-width:1000px) {
    .nav-link {
        display: none;
    }

    #nav-link-1k{
        display: inline;
    }
    #nav-link-1k-2{
        display: inline;

    }
}
@media(max-width:500px) {
    #nav-link-1k-2 {
        display: none;
    }
}

.search,
.nav-link:hover {
    opacity: .5;
}

.search i {
    font-size: 16px;
    color: #181818;

}

#nav-link-1k .fa-bars {
    font-size: 16px;
}

.searchs {
    display: none;
}


#bar {
    position: relative;
}

.sidebar {
    position: absolute;
    right: 2%;
    top: 4rem;
    height: 50vh;
    padding: 30px;
    background-color: white;
    z-index: 999;
    border-radius: 30px;
    display: none;

}



ul li {
    list-style: none;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #423f3f;
}

ul li:hover {
    opacity: 0.5;
}

.explore {
    margin-bottom: 1rem;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}

.hideBar .fa-times {
    font-size: x-large;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1090px){
    #input-field{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 8rem;
        padding-left: 1rem;
        border: 1px solid #c6c3c3;
    }
    #sub-btn{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 1rem;
        padding-left: 1rem;
        color: white;
        background-color: rgb(24, 211, 211);
        border: none;
    }
    #sign-up{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #sign-detail{
        font-size: 17px;
        text-align: center;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        color:  #312f2f;
    }
    .after-emal{
        margin-top: 1rem;
        font-size: 14px;
        color: #312f2f;
    }
}
@media(max-width:960px){
    #input-field{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 6rem;
        padding-left: 1rem;
        border: 1px solid #c6c3c3;
    }
    #sub-btn{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: .70rem;
        padding-left: .70rem;
        color: white;
        background-color: rgb(24, 211, 211);
        border: none;
    }
    #sign-up{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #sign-detail{
        font-size: 15px;
        text-align: center;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        color:  #312f2f;
    }
    .after-emal{
        margin-top: 1rem;
        font-size: 13px;
        color: #312f2f;
    }
}

@media(max-width:830px){
    #input-field{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 3rem;
        padding-left: 1rem;
        border: 1px solid #c6c3c3;
    }
    #sub-btn{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: .50rem;
        padding-left: .50rem;
        color: white;
        background-color: rgb(24, 211, 211);
        border: none;
    }
    #sign-up{
        font-size: 29px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #sign-detail{
        font-size: 15px;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        color:  #312f2f;
    }
    .after-emal{
        margin-top: 1rem;
        font-size: 12px;
        color: #312f2f;
    }
}

@media(max-width:716px){
    #input-field{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 2rem;
        padding-left: 1rem;
        border: 1px solid #c6c3c3;
    }
    #sub-btn{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: .40rem;
        padding-left: .40rem;
        color: white;
        background-color: rgb(24, 211, 211);
        border: none;
    }
    #sign-up{
        font-size: 29px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #sign-detail{
        font-size: 15px;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        color:  #312f2f;
    }
    .after-emal{
        margin-top: 1rem;
        font-size: 12px;
        color: #312f2f;
    }
    #p1{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
        
    }
    .big-font{
        font-size: 25px;
        color: #181818;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 4rem;
    }
    #p2{
        margin-left: 3rem;
        margin-right: 6rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
    }
}
@media(max-width:681px){
    .subscriber-img{
        height: 80vh;
        width:100%;
        margin-top: 3rem;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    #p1{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
        
    }
    .big-font{
        font-size: 24px;
        color: #181818;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 4rem;
    }
    #p2{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
    }
}
@media(max-width:374px){
    #btn-for-sub{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #input-field{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 3rem;
        padding-left: 1rem;
        border: 1px solid #c6c3c3;

    }
    #sub-btn{

        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 3rem;
        padding-left: 1rem;
        width: 100%;
        color: white;
        background-color: rgb(24, 211, 211);
        border: none;
    }
    #sign-up{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #sign-detail{
        font-size: 13px;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        color:  #312f2f;
    }
    .after-emal{
        margin-top: 2rem;
        font-size: 12px;
        color: #312f2f;
        font-weight: 200;
    }
    #p1{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
        
    }
    .big-font{
        font-size: 25px;
        color: #181818;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 4rem;
    }
    #p2{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #4c4c4c;
        text-align: center;
    }
}


.subscriber-img{
    height: 80vh;
    width:100%;
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;

}
.sub-img{
    background-image: url(john-lee-oMneOBYhJxY-unsplash-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 548px;
    width:100%;
}
.sub-btn{
    height: 548px;
    width:100%;
    background-color: #e4e4e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sign-up{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.sign-detail{
    font-size: 20px;
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color:  #312f2f;

}
.btn-for-sub{
    padding: 3px;
    display: inline-block;
    background-color: #fef9f9;
    margin-top: 2rem;
}
.email{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10rem;
    padding-left: 1rem;
    border: 1px solid #c6c3c3;
}
/* #input-field:focus{
    outline: 1px solid #565555;
} */
.btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    background-color: rgb(24, 211, 211);
    border: none;

}
.after-emal{
    margin-top: 1rem;
    font-size: 16px;
    color: #312f2f;
}
input::placeholder{
    font-size: 18px;
    color: #b3b3b9;

}

#sub-btn:hover{

}
/* japan and new york post div  */



#s {
    font-size: 50px;
    padding: 10px;
    border: 1.5px solid #181818;
    align-self: center;
    text-align: center;
    margin: 0px;
}

.next #s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0%;

}

.prev #s {
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prev #s:hover {
    background-color: rgb(18, 224, 224);
    cursor: pointer;
    color: white;
    border: none;
}

.next #s:hover {
    background-color: rgb(18, 224, 224);
    cursor: pointer;
    color: white;
    border: none;

}

.title-page {
    color: #afafb2;
    font-size: 16px;
}

/* for footer insider div */
.footer-inside {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* gap: 2px; */

}

.four-box {
    height: 400px;
    width: 545px;
    border: .03px solid #a3a0a0;

}


/* FOR CONTRIBUTOR DIV  */
#con-img {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.title {
    margin-top: 2rem;
    font-weight: 800;
}

.con-img {
    border-radius: 50%;
    position: absolute;
}

/* wanted to flex img and post div */
.im-con1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.hilary-about {
    margin-left: -60px;
    position: absolute;
    left: 9rem;
    top: 1rem;
}

.hilary-con {
    font-weight: 600;
}

.hilary-con:hover {
    text-decoration: underline rgb(18, 224, 224);


}

.hilary-con-post {
    font-style: light;
    font-size: 13px;
    margin-top: 6px;
    color: #afafb2;
}

/* experiment */
.img-post-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
}


#populer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 3rem;
    font-weight: 800;
}

.about-family {
    margin-left: .80rem;
}

.family-title {
    font-size: medium;
    font-weight: 600;
    color: #181818;
}

.family-title:hover {
    text-decoration: underline rgb(18, 224, 224);
}

.light-text {
    font-style: light;
    font-size: 14px;
    color: #a3a0a0;
}

#img-post-title {
    margin-left: -5rem;
}

/* start for explore div  */
.explore-1st {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.explore-2 {
    height: 200px;
    display: block;
    justify-content: center;
    align-items: center;

}

@media(max-width:420px){
    .explore-1st {
        height: 300px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .explore-2 {
        height: 260px;
        display: block;
        justify-content: center;
        align-items: center;
    
    }
}
.explore-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;

}
@media(min-width:1060px){

}
.tags {
    margin-left: 2.8rem;
    justify-content: center;
    align-items: center;
}

.in-item {
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    box-sizing: border-box;
    border: none;

}
.in-item:hover {
    background-color: rgb(19, 225, 229);
    box-shadow: hidden 0 0 0 2px white;
    color: white;
    cursor: pointer;
}

.curious {
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2.80rem;
}

.about-curious-detail {
    margin-left: 2.80rem;
    width: 80%;

}

.font-style-about {
    font-size: medium;
    font-style: light;
    margin-bottom: 10px;
    color: #afafb2;
    font-weight: lighter;
}

/* footer is started here  */
.footer-stage {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}
/* add media for footer so that it flex direction cen be aolumn */
@media(max-width:1100px){
    .footer-stage {
        margin-top: 2rem;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding-bottom: 3rem;
        gap: 20px;
        text-align: center;
    }
    #footer-link-copy{
        display: block;
        justify-content: center;
        align-items: center;
    }
}


.copy {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: lighter;
    color: #afafb2;
}

.footer-links {
    margin-left: 30px;
    text-decoration: none;
    color: #565555;
    font-weight: lighter;
}
/* media for a tags */
@media(max-width:760px){
    .footer-links{
        font-size: 14px;
        margin-left: 20px;
        margin-top: 15px;
    }
}
@media(max-width:637px){
    .footer-links{
        display: flexbox;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        margin-left: 20px;
        margin-top: 15px;
        flex-wrap: wrap;
    }
}
#foot-link-1 {
    margin-left: 0;
}

.footer-links:hover {
    opacity: .5;
}

.icons-link {
    font-size: x-large;
    margin-right: 20px;
    text-decoration: none;
}
.fa-twitter,.fa-facebook{
    text-decoration: none;
    color: black;
}



.peragraph{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pera-about-landing-page{
    margin-top: 4rem;
    display: inline;
    justify-content: center;
    align-items: center;
}
.p1{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
    font-size: 20px;
    color: #4c4c4c;
    text-align: center;
    
}
.big-font{
    font-size: 30px;
    color: #181818;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 4rem;
}
.p2{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
    font-size: 20px;
    color: #4c4c4c;
}



.wrapper{
    box-sizing: border-box;
    max-width: 75%;
    margin: auto;
}
.wrapper > h1{
      margin: 1.5rem;
      text-align: start;
}
.accordion{
    background-color: white;
    color:rgb(0,0,0,0.8) ;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i{
    font-size: 1.6rem;

}
.active, .accordion:hover{
    background-color:#f1f7f5 ;
}
.pannel{
    padding: 0 2rem 2.5rem 2rem ;
    background-color: white;
    overflow: hidden;
    background-color:#f1f7f5 ;
    display: none;
}
.pannel p{
    color:rgb(0,0,0,0.8) ;
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border:  1px solid rgba(0,0, 0,0.2);
    margin: 10px 0;
}
.faq.active{
    border: none;
}
/* for created element  */
.para-for-div{
    font-size: 15px;
    font-weight: 800;
    margin-top: 2rem;
}

.after{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-for-faq{
    font-size: 20px;
    color: #4c4c4c;
    text-align: center;
}
